@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/fonts/ZillaSlab-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

:root {
    --bootstrap-purple: #6f42c1;
    --dark-orange: #995812;
    --dark-purple: #611e48;
    --light-gray: #e6e6e6;
    --light-orange: #ffe9d2;
    --main-orange: #ff931e;
    --main-purple: #6c2250;
    --react-blue: #58c4dc;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--light-orange) !important;
    font-size: 1.4rem;
}

.alert {
    border-radius: 0;
}

.bg-purple {
    background-color: var(--main-purple);
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-light-orange {
    background-color: var(--light-orange);
}

.bg-light-purple {
    background-color: #eadeff;
}

.bg-orange {
    background-color: var(--main-orange);
}

.btn-outline-orange {
    border: 1px solid var(--main-orange);
    color: var(--main-orange);
}

.btn.btn-purple {
    background-color: var(--main-purple);
    border-color: var(--main-purple);
    color: white;
}

.btn.btn-purple:hover {
    background-color: var(--dark-purple);
    border-color: var(--main-purple);
    color: white;
}

.btn.btn-outline-primary {
    border-color: var(--main-purple);
    color: var(--main-purple);
}

.btn.btn-outline-primary:hover {
    background-color: var(--main-purple);
    color: white;
}

.carousel-caption {
    bottom: unset;
    color: var(--dark-purple);
    position: relative;
    left: unset;
    right: unset;
    padding-bottom: unset;
}

.carousel-control-next .carousel-control-next-icon, 
.carousel-control-prev .carousel-control-prev-icon {
    background-color: var(--dark-purple);
    height: 4rem;
    width: 3rem;
}

.carousel-indicators {
    margin-bottom: 0;
    position: relative;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--dark-purple);
    height: 7px;
}

.carousel-indicators [data-bs-target]:not(.active) {
    opacity: 0.7;
}

.fw-semibold {
    font-weight: 500;
}

h1,
h2,
h3,
h4 {
    color: var(--main-purple);
    font-family: "Zilla Slab";
}

header ul li.nav-item a.nav-link {
    color: var(--light-gray);
    font-family: "Zilla Slab";
    font-size: 2.4rem;
}

header ul li.nav-item a.nav-link.active {
    text-decoration: underline;
}

header ul li.nav-item a.nav-link:hover {
    color: var(--main-orange);
}

li,
p {
    font-size: 1.4rem;
}

.max-h-130px {
    max-height: 130px;
}

.max-h-200px {
    max-height: 200px;
}

.max-h-40px {
    max-height: 40px;
}

.max-h-50px {
    max-height: 50px;
}

.modal-w-fit-content {
    max-width: fit-content;
}

.proj-link div {
    opacity: 0.9;
}

.proj-link > div:hover {
    box-shadow: var(--bs-box-shadow) !important;
    opacity: 1;
}

.shadow-sm {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.shadow {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}

.table > :not(caption) > * > * {
    color: unset;
}

.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
    background-color: #fcfafb;
}

.table-hover > tbody > tr:hover > * {
    background-color: #f1e9ed;
}

.text-bs-purple {
    color: var(--bootstrap-purple);
}

.text-dark-orange {
    color: var(--dark-orange);
}

.text-orange {
    color: var(--main-orange);
}

.text-purple {
    color: var(--main-purple);
}

.text-react-blue {
    color: var(--react-blue);
}

.w-25px {
    width: 25px;
}
